.logo{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   font-family: 'Sriracha', cursive;
}
.cap{
    background-color:gray;
    font-family: 'Sriracha', cursive; 
}
.caph3{
    margin-top: 200px;
}
.collage{
    background-image: url(dog-659856_640.jpg);
    background-size: cover;   
}
.collage>blockquote{
    background-color: rgba(255, 255, 255, 0.829);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5rem;
   margin-top:5rem;
   margin-bottom:5rem; 
}
.dog-1i{
    height: 750px;
    width: 100%;
}
.dog-2cc{
    font-family: 'Yeseva One', cursive;
    background-color: gainsboro;
    font-family: 'Sriracha', cursive;
}
.dog-2i{
    height: 900px;
    width: 100%;
}
.dog-1cc{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   font-family: 'Sriracha', cursive;
}
.dog-3cc{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   font-family: 'Sriracha', cursive;
}
.dog-3i{
    height: 750px;
    width: 100%;
}
.dog-4cc{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   font-family: 'Sriracha', cursive; 
}
.dog-4i{
    height: 750px;
    width: 100%;
} 
.dog-5cc{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   font-family: 'Sriracha', cursive;
}
.dog-5i{
    height: 750px;
    width: 100%;
}  
.end-of-cont{
    font-family: 'Yeseva One', cursive;
   background-color: gainsboro;
   padding-top: 1rem;
   padding-bottom: 0.5rem;
   display: flex;
   justify-content: space-between;
   font-family: 'Open Sans Condensed', sans-serif;
   display: flex;
   flex-wrap: wrap;
}
.fa-instagram{
    color: rgba(202, 25, 25, 0.808);
  font-size: 25px;
    margin-left: 15px;
}
.fa-facebook{
    color: rgba(36, 36, 196, 0.808);
   font-size: 25px;
    margin-left: 14px;
}  
.avtor{
    margin-right: 20px;
}  
body{
    scroll-behavior: smooth;
    background-color: rgba(255, 236, 236, 0.87);
    overflow-x: hidden;
}
.img-text1 {
    width: 100%;
    position: relative;
}
.text1 {
    background-color: rgba(240, 255, 240, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
.img-text2 {
    width: 100%;
    position: relative;
}
.text2 {
    background-color: rgba(240, 255, 240, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
 .img-text3 {
    width: 100%;
    position: relative;
}
.text3 {
    background-color: rgba(240, 255, 240, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
.img-text4 {
    width: 100%;
    position: relative;
}
.text4 {
    background-color: rgba(240, 255, 240, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
.img-text5 {
    width: 100%;
    position: relative;
}
.text5 {
    background-color: rgba(240, 255, 240, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
    transition: 1s;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1060;
    overflow: hidden;
}
.my-anim-right {
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-right {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-left {
    transform: translateX(-120%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-left {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-right1 {
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-right1 {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-left1 {
    transform: translateX(-120%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-left1 {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-right2 {
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-right2 {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-left2 {
    transform: translateX(-120%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-left2 {
    transform: translateX(0);
    opacity: 1;
}